@charset "utf-8";
/* CSS Document */
*{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
.dangkithanhvien{
	background:darkcyan;
	color:#fff;
	border:5px dashed #fff;
	padding:20px 30px;
	line-height:24px;
	}
input,select,textarea{
	border:2px solid darkcyan;
	border-radius:8px;
	padding:8px 12px 8px 16px;
	}
input:hover,select:hover,textarea:hover{
	border:2px solid red;
	}
input:focus,select:focus,textarea:focus{
	border:2px solid red;
	background:#303;
	color:#fff;
	}
input[type=file]{
	border:none;
	}
input[type=submit],input[type=reset]{
	cursor: pointer;
	background:palevioletred;
	color:#fff;
	border:2px solid palevioletred;
	font-weight:bold;
	margin:10px 5px 10px 5px;
	}
input[type=submit]:hover,input[type=reset]:hover{
	background:#F00;
	color:#fff;
	border:2px solid #F00;
	}

.title{
	font-size:24px;
	color:#fff;
	}
/*css cho menu*/
.mainmenu li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
ul.menu1{
	background:plum;
	width:100%;
	height:36px;
	}
.menu1 a{
	color:#fff;
	}
ul.menu1>li{
	float:left;
	padding:10px;
	}
/*menu cáº¥p 2*/
ul.menu1>li>ul.menu2{
	display:none;
	background:plum;
	margin-left:-10px;
	line-height:20px;
	}
ul.menu1>li:hover>ul.menu2{
	display:block;
	position:absolute;
	margin-top:10px;
	}	
ul.menu1>li:hover{
	background:paleturquoise;
	}
.header_left{
	width:25%;
	float: left;
}
.header_right{
	width:75%;
	float: left;
}
.header,.content,.footer,.header_1,.header_2{
	width:100%;
	display: flex;
	justify-content: space-between;
}
	
	


